.app{
  width: 100%;
}

.container{
  height: 100vh;
  max-width: 412px;
  margin: 0 auto;
  border: 2px solid #eee;
  border-top: none;
}
.container-content{
  width: 85%;
  margin: 20px auto;
}

.title{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-color: #242424;
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
  padding: 10px 0;
}

.app form textarea{
  display: block;
  width: 90%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  color: #ececec;
  background-color: #f1f1f1;
  resize: none;
}

.app form .color-selector{
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.app form .color-selector p{
  display: inline-block;
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 10px;
  line-height: 2.5rem;
}

/* .app form .color-selector .outerBorderColor{
  border: 1px solid #aa2424;
}
.app form .color-selector .innerBorderColor{
  border: 1px solid #aa2424;
  background-color: #aa2424;
} */
.app .container-content .previous-btn-box{
  margin: 40px 0 30px;
}
.app .container-content .previous-btn{
  border: none;
  background-color: #a3a3a3;
  color: #3b3b3b;
  padding: 10px 30px;
}

.app .container-content form .submitBtn{
  background-color: #60b460;
  color: #fdfdfd;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
}

.app .note-container .note-card{
  border-radius: 5px;
  background-color: #3b3b3b;
  color: #d4d4d4;
  padding: 15px;
  line-height: 1.005rem;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 10px;
}

.app .note-container .note-card > p{
  margin-bottom: 5px;
}

.app .note-container .note-card .note-content{
  display: flex;
  justify-content: space-between;
}

.app .note-container .note-card .note-content .note-date{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app .note-container .note-card .note-content .note-date i{
  margin-right: 5px;
  font-size: 15px;
}

.app .note-container .note-card .note-content .note-option{
  font-size: 15px;
  display: flex;
}

.app .note-container .note-card .note-content .note-option i{
  margin-left: 10px;
}

